# Ignore local build and rendering artifacts
.build/
.build*
.env

# Ignore synced CUE external packages/libraries
**/cue.mod/pkg/

# Ignore vendir lockfiles
**/vendir.lock.yml

# Ignore compiled parameters
**/vars.yml
